extends layout

block content
    div(id="container")
        h1(class="player-message") Connecting.

block javascript
    script.
        config.labId = "#{labId}";
    if _debug
        script(data-main="/js/controller", src="/js/components/requirejs/require.js")
    else
        script(src="/js/controller.min.js")